# example of upstart config file for centos.

# modify this file, change name to php-ws.conf or use another name, copy in /etc/init
# to start service use: initctl start php-ws
# to stop service use: initctl stop php-ws
# to restart service use: initctl restart php-ws

author "Juan Enrique Escobar"

description "inicializa mi servidor de webservice para ivr con asterisk"

# Attention, this script start on boot after apache server in centos...
start on started httpd

console output

respawn
respawn limit 15 5

# redefine the absolute path to php file
exec /usr/bin/php -q /usr/share/php-websocket/server/server.php >> /var/log/ws.log 2>&1
